.footer {
  box-sizing: border-box;
  min-height: 210px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #fff;
  background-color: #2a3236;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
}

.footer__copyright-text {
  margin-top: 19px;
  font-size: 14px;
  line-height: 19px;
}

.footer__logo-link--text-img {
  display: block;
  margin-top: 0;
  margin-left: -8px;

  &:focus,
  &:hover {
    opacity: 0.8;
  }

  &:active {
    transform: scale(0.95);
  }
}

.footer__logo-link,
.footer__logo-img {
  &:focus,
  &:hover {
    opacity: 0.8;
  }

  &:active {
    transform: scale(0.95);
  }
}

.footer__nav {
  display: none;
}

.footer__button {
  margin-bottom: 17px;
  margin-left: -8px;
  color: #fff;
  background-color: transparent;
}

.footer__contacts {
  position: relative;
  width: 200px;
  margin-left: 10px;
}

.footer__callback {
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  width: 280px;
}

.footer__social-list {
  position: absolute;
  top: -168px;
  left: 50%;
  display: flex;
  justify-content: flex-end;
  padding-left: 40px;
  margin-top: 13px;
  margin-bottom: 0;
  margin-left: -1px;
  list-style: none;

  & .social__item {
    margin-left: 5px;

    & svg {
      &:hover {
        opacity: 0.8;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .footer {
    min-height: 150px;
  }

  .footer__wrapper {
    flex-direction: row;
    justify-content: flex-start;
    width: 708px;
  }

  .footer__copyright-text {
    width: 240px;
    margin-top: 5px;
    margin-left: 2px;
    font-size: 14px;
    line-height: 19px;
  }

  .footer__contacts {
    margin-left: 190px;
  }

  .footer__callback {
    width: 350px;
    margin-top: 40px;
  }

  .footer__social-list {
    top: -13px;
    left: 50%;
    margin-left: 5px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    min-height: 390px;
    padding-top: 65px;
  }

  .footer__wrapper {
    width: 1281px;
  }

  .footer__copyright {
    width: 178px;
    padding-top: 2px;
    margin-right: 37px;
  }

  .footer__logo-link {
    margin-left: 2px;
  }

  .footer__logo-link--text-img {
    margin-top: 5px;
    margin-left: -10px;
  }

  .footer__nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }

  .footer__list-wrapper {
    width: 200px;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .footer__contacts {
    margin-left: 10px;
  }

  .footer__title {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
  }

  .footer__list {
    padding-left: 0;
    list-style: none;
  }

  .footer__item {
    font-size: 16px;
    line-height: 26px;

    & a {
      color: #fff;
      text-decoration: none;
    }
  }

  .footer__button {
    margin-top: 11px;
    margin-bottom: 17px;
    margin-left: 26px;
  }

  .footer__callback {
    flex-direction: column;
    width: 200px;
    margin-top: -1px;
    margin-left: -18px;
  }

  .footer__social-list {
    top: 130px;
    margin-left: -93px;

    & .social__item {
      margin-left: 10px;
    }
  }

  .footer__copyright-text {
    width: 200px;
    margin-top: 29px;
    font-size: 16px;
    line-height: 19px;

    & span {
      display: block;
      line-height: 19px;
    }
  }
}
