.swiper-button-next,
.swiper-button-prev,
.swiper-button-arrow {
  display: none;
}

@media (min-width: $tablet-width) {
  .swiper-button-arrow {
    display: block;
    fill: $main-color;

    &:hover {
      fill: #323232;
    }
  }

  .swiper-button-arrow--slider-event {
    fill: #fff;
  }

  .swiper-button-prev,
  .swiper-container-rtl {
    right: 50%;
    width: 15px;
    height: auto;
    margin-right: 350px;
  }

  .swiper-button-next,
  .swiper-container-rtl {
    left: 50%;
    width: 15px;
    height: auto;
    margin-left: 350px;
  }
}

@media (min-width: $desktop-width) {
  .swiper-button-prev,
  .swiper-container-rtl {
    width: 21px;
    height: auto;
    margin-right: 680px;
  }

  .swiper-button-next,
  .swiper-container-rtl {
    width: 21px;
    height: auto;
    margin-left: 680px;
  }
}
