.user-list {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.user-list__item {
  margin-top: 18px;
  margin-right: 10px;
  margin-bottom: 17px;
}

.user-list__item--border {
  padding-right: 10px;
  border-right: 1px solid #a6a7b1;
}

.user-list__item a {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  color: #a6a7b1;
  text-decoration: none;
  border-bottom: 1px solid #a6a7b1;

  &:hover,
  &:focus {
    color: #6a6b71;
    border-bottom: 1px solid #6a6b71;
  }

  &:active {
    color: #2e2e31;
    border-bottom: 1px solid #2e2e31;
  }
}

@media (min-width: $tablet-width) {
  .user-list__item {
    margin-top: 18px;
    margin-right: 21px;
    margin-bottom: 17px;
  }

  .user-list__item--border {
    padding-right: 21px;
  }

  .user-list__item a {
    font-size: 14px;
  }
}
